#RuntimeInspector {
    margin-top: 20px;
    border-top-width: 1px;
    border-color: #111;
}

#Header {
    -unity-text-align: middle-center;
    font-size: 120%;
    padding: 5px;
}

#Item {
    flex-direction: row;
    padding: 5px 0;
}

#Icon {
    height: 40px;
}
