:root {
    -unity-font-definition: var(--interaction_prompt-font);
    font-size: var(--interaction_prompt-base-font_size);
    align-items: center;
    justify-content: center;
}

.interaction-prompt {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.interaction-prompt__icon {
    background-image: url('project://database/Assets/_Project/Sprites/UI_Sprites/GameOverlay_Sprites/InteractHerePrompt_Sprites/InteractHereIcon.png?fileID=21300000&guid=777408d408b6b5643a08b55109df2d4a&type=3#InteractHereIcon');
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

.talk .interaction-prompt__icon  {
    background-image: url('project://database/Assets/_Project/Sprites/UI_Sprites/GameOverlay_Sprites/InteractHerePrompt_Sprites/InteractHereTalk1.png?fileID=21300000&guid=7d396ea16c9c5f8418aefa646b39ab75&type=3#InteractHereTalk1');
}

.touch .interaction-prompt__icon  {
    background-image: url('project://database/Assets/_Project/Sprites/UI_Sprites/GameOverlay_Sprites/InteractHerePrompt_Sprites/InteractHerePickUp1.png?fileID=21300000&guid=5ff200378936a644fb10522eb2375fc5&type=3#InteractHerePickUp1');
}

.view .interaction-prompt__icon  {
    background-image: url('project://database/Assets/_Project/Sprites/UI_Sprites/GameOverlay_Sprites/InteractHerePrompt_Sprites/InteractHereLook1.png?fileID=21300000&guid=16f775eb3873ea04894dc02e4985f602&type=3#InteractHereLook1');
}
