:root {
    justify-content: center;
    align-items: center;
    -unity-font-definition: url('project://database/Assets/_Project/Fonts/Who%20Dares!%20SDF.asset?fileID=11400000&guid=76636c63d6e1cd3488532d7db176444e&type=2#Who Dares! SDF');
    font-size: 36px;
}

.Hide {
    display: none;
}
