.quest-slot {
    -unity-font-definition: url('project://database/Assets/_Project/Fonts/Who%20Dares!%20Bold%20Italic%20SDF.asset?fileID=11400000&guid=9de1860012247e0448f970ae3a46bdfc&type=2#Who Dares! Bold Italic SDF');
    font-size: 32px;
}
