:root {
    -unity-font-definition: url('project://database/Assets/_Project/Fonts/Who%20Dares!%20SDF.asset?fileID=11400000&guid=76636c63d6e1cd3488532d7db176444e&type=2#Who Dares! SDF');
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.settings-menu__frame {
    width: 40%;
}

.settings-menu__section-header {
    -unity-text-align: upper-center;
    font-size: 46px;
    -unity-font-style: bold;
}
